.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}


* {
    margin: 0px;
    padding: 0px;
}

/* common style */
.btn-primary {
    width: 196px;
    height: 44px;
    font-weight: 700;
    color: white;
    background-color: #E02C6D;
    border: none;
}

.display-flex {
    display: flex;
    align-items: center;
}

.max-width {
    max-width: 1140px;
    margin: 0 auto;
}

.dark-1 {
    color: #3A3A3A;
}

.dark-2 {
    color: rgba(24, 25, 31, 1);
}

.dark-3 {
    color: rgba(120, 120, 133, 1);
}


/* navbar style */
.navbar {
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 50px;
}

.influencer {
    font-size: 1.5rem;
    font-weight: 700;
}

.nav-lists {}

.nav-item {
    list-style: none;
}

.nav-link {
    text-decoration: none;
    font-weight: 600;
    margin-left: 34px;

}

/* banner related style */
.banner {
    justify-content: space-between;
    margin-top: 80px;
    margin-bottom: 80px;
}

/* banner content style */
.banner-content {
    max-width: 582px;
}

.banner-title {
    font-size: 3.25rem;
    font-weight: 700;
    line-height: 4rem;
}

.banner-description {
    max-width: 505px;
    font-weight: 600;
    margin: 16px 0px;
}

.banner-btn {
    border-radius: 41px;
}

/* banner image style */
.image-container {
    background-image: url(../images/Circle\ design.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.banner-camera {
    width: 100%;
    display: block;
}

/* main section start */
/* logo section style */
.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 80px;
    margin-bottom: 90px;
    padding: 35px 62px;
    border-top: 1px solid #e7e3e3;
    border-bottom: 1px solid #e7e3e3;

}

.logo-box>img {
    width: 100%;
}


/* popular collection  */
.popular-collection {
    max-width: 1140px;
    margin: 0 auto;
}

.collection-title {
    text-align: center;
    font-size: 1.75rem;
    font-weight: 600;
    margin-bottom: 30px;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

/* card style */
.card-title {
    font-size: 1.75rem;
    font-weight: 500;
    margin-top: 16px;
    margin-bottom: 6px;
}

.price {
    font-siz: 1.5rem;
    color: rgba(0, 0, 0, 0.87);
}

.card {
    border-radius: 5px;
    padding: 15px;
    box-shadow: 0 4px 30px 0px rgba(0, 0, 0, 0.08);
}

.card>img {
    width: 100%;
}

.icon-box {

    justify-self: flex-start;
    margin-top: 8px;
    margin-bottom: 5px;
}

.card-description {
    font-size: 0.875rem;
    font-weight: 700;
}

.popular-collection-btn {
    display: flex;
    justify-content: flex-end;
}

.popular-collection-btn>button {
    font-weight: 800;
    color: #E02C6D;
    border: none;
    background-color: transparent;
    margin-top: 50px;
}

/* product feature style */
.product-features{
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;

}

.products{
    display: block;
    width: 100%;
}

.feature-content{
    max-width: 610px;

}

.feature-content-title{
    font-size: 2.375rem;
    font-weight: 700;
    margin-bottom: 16px;

}

.feature-content-description{
    max-width: 500px;
    font-weight: 700;
    color: #6C6C6C;
    margin-bottom: 16px;

}

.feature-btn{
    width: 155px;
    height: 40px;

}

/* footer style */
footer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    background: #0A0826;
}

.footer-title{
    font-size: 1.5rem;
    font-weight: 700;
    color: white;
    margin-top: 50px;

}

.copyright-notish{
    font-size: 0.8rem;
    font-weight: 700;
    color: #D9DBE1;
    line-height: 24px;

}

.footer-icons{
    justify-content: center;
    gap: 35px;
    margin-top: 20px;
}

.icon{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
    margin-bottom: 50px;
}


/* Query for mobile devices */
@media screen and (max-width:768px) {

    /* nav section */
    .navbar{
        flex-direction: column;
    }

    .navbar,
    .banner {
        margin: 35px 20px;
    }

      .influencer {
        font-size: 1rem;
    }

     .nav-lists {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
    }

    /* banner section */
     .banner {
        flex-direction: column-reverse;
        gap: 40px;
        margin-top: 40px;
    }


    .banner-content {
        text-align: center;
    }

   
    .banner-title {
        font-size: 1.75rem;
        line-height: 40px;
    }


    /* logo section */
    .logo-container {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        justify-content: center;
        align-items: center;
        gap: 30px 20px;
        border: none;
        margin:50px 20px;
    }

    /* popular collection section */
    .popular-collection {
        margin-left: 20px;
        margin-right: 20px;
    }


    .card-container {
        grid-template-columns: 1fr;
    }

    /* product features section */
    .product-features{
        flex-direction: column-reverse;
        margin:50px 20px ;
        text-align: center;
    }

    .feature-content-description{
        margin:40px auto ;
        text-align: center;


    }

    .feature-btn{
        margin-bottom: 30px;
    }

    



}


/* medium devices */
/* @media screen and (min-width:768px) and (max-width:1140px) {

    .navbar,
    .banner {
        max-width: 900px;
        margin: 20px auto;
    }

    main {
        max-width: 900px;
        margin: 20px auto;
    }

    .logo-container {
        box-sizing: border-box;
        padding-left: 0;
        padding-right: 0;
    }
} */